iframe {
  width: 90%;
  height: 60%;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#red-ui-header span.red-ui-header-logo span:not(:first-child) {
  margin-left: 13px;
}
#red-ui-header span.red-ui-header-logo img {
  height: 43px;
}

#red-ui-header #red-ui-header-button-deploy.disabled {
  cursor: default;
  background: #3f79b7;
  color: #fff;
}
